

#KontactsG {
  border: 5px solid #808080;
  width:300;
  border-radius: 50px;
  background-color: #FFFFFF;
}

#KontactsBG {
  background-image: url(КонтактыФон.jpg);
}

.KontactsText {
  color: white;
}

#KontactsPic {
  border: 5px solid #808080;
  width:300;
  border-radius: 50px;
  background-color: #FFFFFF;
  margin-left: 40px;
}
