#Dima {
  border: 4px solid #808080;
  width: 300;
  border-radius: 50px;
  background-color: #FFFFFF;
}

#Gelik {
  border: 4px solid #FFC0CB;
  width: 300;
  border-radius: 50px;
  background-color: #FF0000;
}
